* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container .card {
  width: calc(100% / 4 - 20px);
  margin: 10px 0;
}

.container .card .content-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container .card .content-card img {
  width: 200px;
}

